<h1>New Artist</h1>
<form method="POST" action="/artists">
  <label for="artist-name">Name</label>
  <input type="text" name="name" id="artist-name">
  <label for="artist-age">Age</label>
  <input type="number" name="age" id="artist-age">
  <label for="artist-bio">Slogan</label>
  <input type="text" name="bio" id="artist-bio">
  <input type="submit" value="Submit!">
</form>
